#page-breadcrumb .breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
}

#page-breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    font-family: 'FontAwesome';
    content: "\f101";
}

@media all and (max-width: 992px) {
    #page-breadcrumb {
        margin-bottom: 0;
        font-size: .9rem;
        max-width: unset;
    }
}
