

#forgotten-password-page #reset-or {
    font-size: 3rem;
    color: var(--fs-headings);
    text-align: center;
    line-height: 1em;
}

/*#forgotten_password_mobile_form .call-to-action {
    text-align: right;
}*/

#forgotten_password_mobile_form .btn,
#forgotten_password_email_form .btn {
    display: block;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    /*#forgotten_password_mobile_form .call-to-action {
        text-align: left;
    }*/

    #forgotten-password-page #reset-or {
        margin: 1.5rem 0;
    }

    #forgotten_password_email_form .form-group:last-child {
        margin-bottom: 0;
    }
}