#header {

    color: #2260AC;

    color: var(--fs-main);
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: bold;
    z-index: 400;
    padding: 1rem;
}

#header .btn {
    font-weight: bold;
}

#header #header-container-logo {
    padding: 0;
    text-align: center;
}

#header #header-container-logo img {
    max-width: 100%;
    max-height: 80px;
}

#header #header-container-buttons {
    font-size: 0;
}

#header #header-container-buttons .btn {
    font-size: 1rem;
    padding: 0.5em 1em;
}

.header-browse {
    line-height: 1.5;
    font-size: .9rem;
    vertical-align: middle;
    border: 0;
    display: inline-block;
}

.header-browse .dropdown-toggle {

}

.header-browse .badge-fs {
    background: var(--fs-main);
    color: var(--fs-light-text);
}

#home-regions .header-browse {
    margin-left: .5rem !important;
}

#header #actions-container {
    font-size: 0.75rem;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-right: 0;
}

#header #actions-container #register.btn,
#header #actions-container #about.btn,
#header #actions-container #login.btn {
    font-size: 0.75rem;
    padding: 0.1em 0.75em 0.2em 0.75em;
}

#header #actions-container #welcome-message {
    font-weight: normal;
    color: #090909;
    color: var(--fs-dark-text);
}

#header #search-form {
    height: 50%;
    position: relative;
}



/*** MOBILE **/
#header-mobile_top {
    background-color: var(--fs-secondary);
    padding: 1rem;
    padding-left: 0.5rem;
}

#header-mobile_bottom {
    background-color: #ddd;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: bold;
    font-size: .9em;
}

#header-mobile_bottom .dropdown-toggle {
    cursor: pointer;
    line-height: 1rem;
}

#header-mobile_bottom .dropdown-menu {
    margin-top: 18px;
    width: 90%;
    min-width: unset;
}

#header-mobile_top .mobile_link {
    padding: 0;
    margin: 0 0 0 1rem;
    display: block;
    cursor: pointer;
    color: var(--fs-headings);
    font-size: 1.2em;
    text-align: center;
}

#header-mobile_top .mobile_link:hover {
    text-decoration: none;
    color: var(--fs-text-color);
}

#header-mobile_top .mobile_link span {
    display: block;
    font-size: 9px;
    text-align: center;
}

#header-mobile_top .icon_link {
    display: inline;
}

#header-mobile_top .icon_link img {
    display: block;
    max-height: 45px;
}

#html-mobile_search {
    width: 100%;
    background-color: rgba(256, 256, 256, .9);
    height: 100%;
    position: fixed;
    z-index: 301;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#html-mobile_search form {
    background-color: #fff;
    padding: 1em;
    border-bottom: 1px solid #ddd;
}

#html-mobile_search label {
    font-size: .8em;
}

#html-mobile_search label i {
    cursor: pointer;
}

#html-mobile_search button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    line-height: 1.5;
    cursor: pointer;
}

#html-mobile_search input[type=text] {
    border-right: 0px;
    flex-grow: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


@media all and (max-width: 1115px) {
    #header #link-give_something_away {
        display: none !important;
    }
}

@media all and (max-width: 430px) {
    /*#header-mobile_top .mobile_link span {
        display: none;
    }*/

    #header-mobile_top {
        text-align: center;
        display: block;
        padding: .5rem;
    }

    #header-mobile_top .icon_link img {
        max-height: 55px;
    }

    #header-mobile_top .icon_link{
        margin-right: 0 !important;
        display: block;
        text-align: center;
    }

    #header-mobile_top .icon_link img{
        display: inline-block;
    }

    #header-mobile_top .header-row_icons {
        margin-top: .5em;
        justify-content: center !important;
    }

    #header-mobile_top .mobile_link {
        flex-grow: 1;
        margin-left: 0;
    }
}