
/*
 * Listing items
 */
#listing-banner {
    background: var(--fs-banner-background);
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    color: var(--fs-banner-text);
    margin-bottom: 2rem;
}

#listing-banner h1 {
    color: var(--fs-banner-text);
}
#listing-banner p {
    margin-bottom:0;
}
#listing-banner #location-pointer {
    color: #656565;
}
#listing-banner .request_count {
    font-size: 0.75rem;
}
#listing-banner .request_count.error {
    color: var(--fs-danger);
    font-weight: normal;
}
#listing-page {
    padding-top: 10px;
}
#listing-page .view-image,
#listing-page .view-image img {
    max-width:100%;
}